*{
    box-sizing: border-box;
    font-family: Raleway;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
  }

hr{
    border: 1px solid rgb(255, 230, 7);
    margin: 0px;
}

body{
    display: block;
    background-color: whitesmoke;
    color: black;
    height: 2000px;
    margin: 0px;
    padding: 0px;
}

.mcontainer{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    position: fixed;
    z-index: 2;
    display: none;
    transition: 0.15s;
}

.navcontainer{
    display: flex;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    justify-content: center;;
    align-items: center;
    padding-bottom: 23rem;
    z-index: 2;
}

.nav{
    list-style-type: none;
    padding: 2rem;
    border: 2px solid yellow;
    margin-top: 15rem;
    z-index: 2;
}

.nav a{
    text-decoration: none;
}

.navitem{
    font-size: xx-large;
    color: white;
    padding: 0.5rem;
}

.navitem:hover{
    color: rgb(179, 179, 179);
}

.home{
    background-image: url(../assets/cover123.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;
    padding: 2rem 2rem 0rem 2rem;
}

#ap{
    height: 26%;
    position: absolute;
    bottom: 0px;
    right: 5%;
}

.menucont{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    position:fixed;
    top:0;
    right:0;
    z-index: 3;
}

.mobilemenu{
    width: 3rem;
    height: 3rem;
    margin: 2rem;
    transition: 0.2s;
    background-size: cover;
    background-color: white(100, 100, 100, 0.5);
    background-image: url(../assets/icons/menuwhite.png);
}
#firstname{
    font-size: 4rem;
    color: rgb(255, 255, 255);
}
#lastname{
    font-size:3rem;
    padding-left: 10rem;
    border-collapse: separate;
    margin-bottom: 14rem;
}
#iam{
    padding-left: 1rem;
    font-size: 5rem;
    margin: 0px;
    color: rgb(251, 255, 0);
    z-index: 1;
}

#a{
    font-size: 3rem;
    color: rgb(176, 148, 204);
    margin: 0px;
    z-index: 1;
}

#dev{
    z-index: 1;
    margin: 0px;
    color: rgb(255, 122, 122);
    font-size:2.5rem;
    text-align: center;
    transition: 0.1s;
    text-transform: uppercase;
    font-style: italic;
    /*text-decoration:underline;*/
    font-weight: bold;
}

.skills{
    background-image: url(../assets/mountbw.jpg);
    background-size: cover;
    background-position: right;
    min-height: 100vh;
    padding: 2rem 2rem 2rem 2rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.skillscontainer{
    margin: 5rem 5rem 5rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    justify-items: left;

}

.skillitem{
    font-size: 1rem;
    height: 3rem;
    background-color: white;
    border: 2px solid white;
    padding: 1rem;
    color: rgb(28, 84, 156);
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px 2px rgba(100, 100, 100, 0.8);
}


.certificates{
    background-image: url(../assets/cert.jpg);
    background-size: cover;
    background-position: right;
    padding: 2rem 2rem 2rem 2rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: block;
    min-height: 100vh;
}
.certcontainer{
    display: grid;
    margin: 2rem;
    padding: 5% 10% 0% 10%;
    grid-template-columns: repeat(auto-fit , minmax(24rem, 1fr));
    grid-template-rows: repeat(2, 16rem);
    grid-auto-rows: 16rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 1rem;
}



.cert{
    font-size: large;
    background-color: rgb(55, 27, 179);
    width: 24rem;
    height: 16rem;
    background-position: center;
    background-size: cover;
}
#allcertcont{
    text-align: center;
    display: flex;
    font-size: large;
    justify-content: center;
}
#allcert{
    background-color: whitesmoke(1, 87, 145);
    width: fit-content;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid white;
    transition: 0.2s;
}
#allcert a{
    text-decoration: none;
    color: white;
}
#allcert:hover{
    background-color: rgba(255,255,255,0.4);
}

.projects{
    background-image: url(../assets/darktexture1.jpg);
    background-size: cover;
    background-position: right;
    padding: 2rem 2rem 2rem 2rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

#viewallprojects{
    font-size: 1.3rem;
    color: rgb(235, 235, 172);
    margin-bottom: 2rem;
}
#viewallprojects a{
    color: rgb(216, 74, 74);
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    font-style: italic;
    text-decoration: none;
    transition: 0.27s;
}
#viewallprojects a:hover{
    background-color: rgb(202, 202, 202);
    color: black;
}

.galleryrow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
    justify-content: center;
}

.gallerycol{
    flex:90%;
    padding: 0 4px;
}

.gallerycol img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.contact{
    background-image: url(../assets/whitebgman.jpg);
    background-position: bottom;
    background-color: whitesmoke;
    background-size: cover;
    height: 100vh;
    padding: 2rem 2rem 2rem 2rem;
    color: rgb(41, 41, 41);
    font-size: 2rem;
    display: block;
}

.contactcontainer{
    padding: 1rem;
    margin: 2px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    width: 350px;
    background-color: rgba(194, 194, 194, 0.5);
    
}

.contactcontainer:hover{
    background-color: rgba(194, 194, 194,0.8);
}

.contactcontainer a{
    color: black;
    text-decoration: none;
}

.contactmebox{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacttext{
    display: flex;
    align-items: center;
}

.contacticon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
}

#phone{
    background-image: url(../assets/icons/phoneblack.png);
    background-size: contain;
}
#email{
    background-image: url(../assets/icons/mailblack.png);
    background-size: contain;
}
#linkedin{
    background-image: url(../assets/icons/linkblack.png);
    background-size: contain;
}
#git{
    background-image: url(../assets/icons/linkblack.png);
    background-size: contain;
}
#leet{
    background-image: url(../assets/icons/linkblack.png);
    background-size: contain;
}



#azure{
    background-image: url(../assets/Certificates/microsoft.png);
}
#rest{
    background-image: url(../assets/Certificates/restfulapi.png);
}
#react{
    background-image: url(../assets/Certificates/react.png);
}
#resp{
    background-image: url(../assets/Certificates/responsivedesign.png);
}
#ml{
    background-image: url(../assets/Certificates/ml.png);
}#sql{
    background-image: url(../assets/Certificates/sqltransactions.png);
}



@media screen and (min-width: 700px) {
    body{
        background-color: gray;
    }    
    .home{
        padding: 6rem 0rem 0rem 6rem;
    }
    .skills{
        font-size: 3rem;
    }
    .certificates{
        font-size: 3rem;
    }
    .contact{
        font-size: 3rem;
    }
    .projects{
        font-size: 3rem;
    }
    #lastname{
        margin-bottom: 0px;
    }
    #iam{
        padding-left: 11rem;
    }
    #dev{
        font-size: 7rem;
    }

    .contactcontainer{
        width: 700px;
        padding: 2rem;
    }

    .contacticon{
        width: 2rem;
        height: 2rem;
    }

    .contacttext{
        font-size: medium;
    }

    #allcert{
        margin-top: 3rem;
    }

    .skillscontainer{
        margin-top: 15rem;
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .contact{
        background-position: 0% 80%;
    }

    #ap{
        height: 20rem;
        left:20%;
    }
    .gallerycol{
        flex:33%;
    }

}


@media  screen and (max-width:1300px) and (min-width:700px) {
    .gallerycol{
        flex:50%;
    }
}